<app-header2></app-header2>

<body background="../assets/images/background/p6.jpg">
    <br>
    <!--Comienzo del Tema-->
    <!-- Carta Principal Horizontal-->
    <div class="row d-flex justify-content-center ">
        <!-- News jumbotron -->
        <div class="jumbotron text-center blue-grey lighten-5" style="max-width: 60rem;">

            <!-- Subtitle -->
            <h2 class=" teal darken-3-text text-white font-weight-bold"><i class="fas fa-paper-plane pr-1"></i>Tema 5</h2>

            <!-- Title del tema-->
            <h3 class="card-title h3">División de Polinomios</h3>

            <!-- Grid row -->
            <div class="row d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-xl-10 pb-2">
                    <br>
                    <p class="card-text text-justify">Se denomina <b>Polinomio Completo</b> a aquel <b>polinomio que tiene todos los términos de todos los grados </b>del más bajo al más alto:</p>
                    <br>
                    <img src="../assets/images/background/Polonomios_Ordenados.png" alt="Polonomios_Completo">
                    <br>
                    <p class="card-text text-justify"><b>Ejemplo:</b></p>
                    <br>
                    <p class="card-text text-justify"><strong>P(x)</strong> 2 + 5x + x<sup>2</sup> + 3x<sup>3</sup> + 9x<sup>4</sup></p>
                    <br>
                    <p class="card-text text-justify">En este caso están presentes todos los términos de todos los grados, desde el término independiente (2) hasta el más alto (9x<sup>4</sup>).</p>
                    <br>
                    <p class="card-text text-justify">Por otro lado, un <b>polinomio incompleto</b> sería aquel al que le falta algún término:</p>
                    <br>
                    <p class="card-text text-justify"><strong>Q(x)</strong> 2 + 5x + 3x<sup>3</sup> + 9x<sup>4</sup></p>
                    <br>
                    <br>
                    <p class="card-text text-justify">En este caso faltaría el término de segundo grado (x<sup>2</sup>) por lo que no sería completo.</p>
                    <br>
                    <p class="card-text text-justify"><b>Ejemplos de Polinomio Completo:</b></p>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">R(x) = 3 + x</li>
                        <li class="list-group-item list-group-item-success">S(x) = 3 + x + 5x<sup>2</sup></li>
                        <li class="list-group-item list-group-item-success">T(x) = 3 + x + 5x<sup>2</sup> + 7x<sup>3</sup></li>
                    </ul>
                    <br>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <!--Botones-->
            <div class="pagination pg-blue justify-content-center">
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u3']">Regresar</a></button>

                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u3tem6eje1']">Realizar Ejercicio</a></button>
            </div>

        </div>
        <!-- Grid row -->
    </div>
    <!-- News jumbotron -->

    <!--Final del Tema-->
</body>