<app-header2></app-header2>

<body background="../assets/images/background/p6.jpg">
    <br>
    <!--Comienzo del Tema-->
    <!-- Carta Principal Horizontal-->
    <div class="row d-flex justify-content-center ">
        <!-- News jumbotron -->
        <div class="jumbotron text-center blue-grey lighten-5" style="max-width: 60rem;">

            <!-- Subtitle -->
            <h2 class="text-danger my-4 font-weight-bold"><i class="fas fa-flask pr-1"></i>Tema 1</h2>

            <!-- Title del tema-->
            <h3 class="card-title h3">Potenciación</h3>


            <!-- Grid row -->
            <div class="row d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-xl-10 pb-2">
                    <p class="card-text text-justify">La potenciación es la operación utilizada para escribir el producto de dos o más factores iguales.</p><br>
                    <p class="card-text text-justify"><b>Los términos de la potenciación son:</b></p>
                    <br>
                    <p class="card-text text-justify">1) La base, que es el factor que se repite </p>
                    <br>
                    <p class="card-text text-justify">2) El exponente, que nos indica el número de veces que se repite el factor.</p>
                    <br>
                    <p class="card-text text-justify">3) La potencia, que es el resultado de resolver la multiplicación.</p>
                    <img src="../assets/images/background/potenciacion1.PNG" alt="potenciacion1">
                    <br>
                    <p class="card-text text-justify">Una potencia de base real y exponente natural se define así:</p>
                    <br>
                    <p class="text-center"><b>a<sup>n</sup> = <u>a ∙ a ∙ a ∙ a ∙ … ∙ a</u> ,con a ϵ R y n ∈ N</b></p>
                    <br>
                    <p class="card-text text-justify"><b>a</b> multiplicada por sí misma <b>n</b> veces</p>
                    <br>
                    <p class="card-text text-justify"><b>Ejemplo:</b></p>
                    <!--Ejemplos 1-->
                    <img src="../assets/images/background/potenciacion2.PNG" alt="potenciacion2"><br><br>
                    <!--Fin de Ejemplos 1-->
                    <p class="card-text text-justify">Una potencia de base real distinta de 0 y exponente entero negativo es igual a una potencia cuya base es el inverso multiplicativo de la base original y su exponente es igual al inverso activo del exponente de la potencia original.</p>
                    <!--Ejemplos 2-->
                    <img src="../assets/images/background/potenciacion3.PNG" alt="potenciacion2"><br><br>
                    <!--Fin de Ejemplos 2-->
                    <p class="card-text text-justify"><b>Ejemplo:</b></p>
                    <!--Ejemplos 3-->
                    <img src="../assets/images/background/potenciacion4.PNG" alt="potenciacion2"><br><br>
                    <!--Fin de Ejemplos 3-->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->

            <!--Botones-->
            <div class="pagination pg-blue justify-content-center">
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u2']">Regresar</a></button>
                <button type="button" class="btn sunny-morning-gradient bbtn btn-lg"><a [routerLink]="['/u2tem1eje1']">Realizar Ejercicio</a></button>
            </div>

        </div>
        <!-- Grid row -->
    </div>
    <!-- News jumbotron -->

    <!--Final del Tema-->
</body>